
body {
    background-image: url("images/TriageAR_Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 40%;
    height: 30%;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    background-color: #EAEAEA;
    border: 1px solid #000000;

    width: 25%;
    height: 80px;

    text-align: center;
    font-size: x-large;

}


