
body {
    background-image: url("../assets/TriageAR_Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.Logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 40%;
    height: 30%;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    background-color: #EAEAEA;
    border: 1px solid #000000;

    width: 25%;
    height: 80px;

    text-align: center;
    font-size: x-large;

}

.WelcomePages {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    background-color: #EAEAEA;
    border: 1px solid #000000;

    width: 25%;
    height: 80px;

    text-align: center;
    font-size: x-large;
}

.VideoContainer {
    width: 80%;
    margin: 5% auto;
    max-height: 80vh;

    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#videoStream {
    width: 100%;
    height: 100%;
    margin: 0%;
    justify-content: center;
    display: block;
}


/* ---- SCAN STATUS ---- */

.scanStatus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px 25px;
    font-size: 30px;
    font-family: 22px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    display: none; /* Hide until needed */
    z-index: 50;
}

/* ---------------- CONDITION BADGE ---------------- */

.ConditionBadge {
    position: absolute;
    top: 130px;
    right: 250px;
    background: rgba(30,30,30,0.85);
    padding: 10px 25px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    color: white;
    font-family: Arial;
    font-size: 16px;
}

.Toggle {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;
    margin-right: 15px;
}

.Toggle input {
    display: none;
}

.Slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #666;
    border-radius: 24px;
    transition: .3s;
}

.Slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: .3s;
}

.Toggle input:checked + .Slider {
    background-color: #00d46a;
}

.Toggle input:checked + .Slider:before {
    transform: translateX(22px);
}

#ConditionStatus {
    font-weight: bold;
}

#ConditionMetrics {
    font-size: 14px;
}


/* ---------------- TIERS ---------------- */

.TierContainer {
    position: absolute;
    top: 230px;
    right: 250px;
}

.TierBox {
    backdrop-filter: blur(8px);
    background: rgba(0,0,0,0.55);
    padding: 20px 25px;
    /* width: 420px; */
    border-radius: 12px;
    color: white;
    font-family: Arial;
}

#Tier1 .TierBox {
    width: 420px;
}

#Tier2 .TierBox {
    width: 340px;
}

#Tier3 .TierBox {
    width: 260px;
}


/* HEADER BAR */
.TierHeader {
    background: #b40000;
    padding: 10px 15px;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.TierHeaderRow {
    background: #b40000;
    padding: 10px 15px;
    border-radius: 8px 8px 0 0;
}

.TierHeaderRow1 {
    display: flex;
    gap: 6px;
    font-size: 16px;
}

.TierHeaderRow2 {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}


/* BODY TEXT & GRID */
.tierBlock {
    margin: 0;
    padding: 4px 0;
}

.TierHeaderRow + .tierBlock {
    border-top: 1px solid rgba(255, 255, 255, 0.2)
}

.tierBlock + .tierBlock {
    border-top: 1px solid rgba(255, 255, 255, 0.2)
}

.tier-section {
    line-height: 22px;
}

.tier-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    width: 100%;
    max-width: 85%;
    margin: 0 auto;
}

#Tier2 .tier-grid {
    grid-template-columns: repeat(3, 1fr);
}

#Tier3 .tier-grid {
    grid-template-columns: repeat(2, 1fr);
}

.tier-grid > div {
    padding: 6px 0;
    position: relative;
}

.tier-grid > div:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 25%;
    bottom: 25%;
    width: 1px;
    background: rgba(255, 255, 255, 0.25);
}

.tier-grid .label {
    font-weight: bold;
}
