
body {
    background-image: url("../assets/TriageAR_Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 40%;
    height: 30%;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    background-color: #EAEAEA;
    border: 1px solid #000000;

    width: 25%;
    height: 80px;

    text-align: center;
    font-size: x-large;

}

.WelcomePages {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    background-color: #EAEAEA;
    border: 1px solid #000000;

    width: 25%;
    height: 80px;

    text-align: center;
    font-size: x-large;
}

.video-container {
    width: 80%;
    margin: 5% auto;
    max-height: 80vh;

    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#videoStream {
    width: 100%;
    height: 100%;
    margin: 0%;
    justify-content: center;
}


/* .triage-box {
    margin: 20px auto;
    width: 60%;
    padding: 20px;
    background: rgba(255,255,255,0.85);
    border-radius: 10px;
    border: 2px solid #333;
    text-align: left;
    font-size: 1.3rem;
    line-height: 1.5rem;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.triage-box h2 {
    margin-top: 0;
    color: #C2185B;
} */
